<!--The content below is only a placeholder and can be replaced.-->








<div class="container">
<div class="row">
<div class="col-md-4">
<div class="well">
{{mynuber}}

</div>
</div>
<div class="col-md-4">
<div class="pradeep">
  <h1 >
    Welcome
  </h1>

  <button  class="btn btn-success" (click)="myfunction()" >Submit</button>

{{carobject.carname}}


{{carobject.modelno}}

{{studentobj.stuname}}

  </div> 

</div>
<div class="col-md-4">

<div *ngFor="let y of myarrayobj">

<div class="well">
<p>
{{y.id}}  {{y.name}}
</p>
</div>


</div>
</div>


</div>
</div>
